doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body
        a.home-link(href="/") Return to the homepage
        h1.page-title Update Custom Object
        form.form(action="/update-cobj" method="post")
            input.input-field(type="text" placeholder="Insert id to update record or leave empty to create" id="id" name="id")
            label(for="director") Director
            input.input-field(type="text" id="director" name="director" required)
            label(for="movie_name") Movie Name
            input.input-field(type="text" id="movie_name" name="movie_name" required)
            label(for="main_actor") Main Actor
            input.input-field(type="text" id="main_actor" name="main_actor" required)
            label(for="movie_type") Movie Type
            input.input-field(type="text" id="movie_type" name="movie_type" required)
            button.submit-btn(type="submit") Submit
