doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body
        a(href="/") Return to the homepage
        h1 Update Custom Object
        form(action="/update-cobj" method="post")
            label(for="director") Director
            input(type="text" id="director" name="director" required)
            label(for="movie_name") Movie Name
            input(type="text" id="movie_name" name="movie_name" required)
            label(for="main_actor") Main Actor
            input(type="text" id="main_actor" name="main_actor" required)
            button(type="submit") Submit
